.card-movie {
  width: 168px;
  height: 301px;
  display: grid;
  place-content: end center;
  padding: 8px;
  font-size: 12px;
  font-weight: bold;
}

.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding-bottom: 10px;
}

.card-info h3 {
  font-size: 16px;
  max-width: 100px;
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-star {
  color: #fbcd6e;
}

.btn-roxo{
  background-color: #a785ed;
  color: #eee5ff;
  width: 140px;
  padding: 8px;
}

.btn-roxo:hover {
  background: linear-gradient(
      0deg,
      rgba(46, 46, 46, 0.45),
      rgba(46, 46, 46, 0.45)
    ),
    #a785ed;
}

.btn-roxo:active {
  background: linear-gradient(0deg, rgba(123, 123, 123, 0.45), rgba(123, 123, 123, 0.45)), #A785ED;
}
