* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #1d2226;
  color: white;
}

h2 {
  margin: 24px 0;
}

.container {
  width: 80%;
  margin: 0 5vw 5vh 5vw;
  display: flex;
  align-items: flex-start;
}

.container-filmes {
  display: flex;
  flex-wrap: wrap;
  width: inherit;
  gap: 24px;
}

.error {
  color: #000;
  margin: 10vh 0;
  border: 1px solid #f78b8b;
  background-color: #ffe9e9;
  border-radius: 2px;
  padding: 10px;
  width: 80%;
}

.error span {
  color: #f78b8b;
  font-weight: 600;
}

/* Carregando com animação 
  https://dev.to/afif/i-made-100-more-css-loaders-for-your-next-project-4ioa 
  só ajustei pro projeto */

.loading {
  width: max-content;
  margin: 10vh auto;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  background: radial-gradient(circle closest-side, #a785ed 94%, #0000)
    right/calc(200% - 1em) 100%;
  animation: c2 1s infinite alternate linear;
}

.loading::before {
  content: "Loading...";
  line-height: 1em;
  color: #0000;
  background: radial-gradient(circle closest-side, #1d2226 94%, #fff);
  -webkit-background-clip: text;
  background-clip: text;
  background-size: inherit;
  background-position: inherit;
}

@keyframes c2 {
  100% {
    background-position: left;
  }
}
