* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #1d2226;
  color: white;
}

h2 {
  margin: 24px 0;
}

.container {
  width: inherit;
  margin: 0 5vw;
  display: flex;
  align-items: flex-start;
}

.container-filmes {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  gap: 24px;
}

.btn {
  all: unset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  column-gap: 5px;
}
